.form {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: var(--cor-secundaria);
  padding: 32px;
  border-radius: 12px;
  margin-top: 40px;
}


.btnPesquisar {
  background-color: var(--cor-principal);
  border: 1px solid var(--cor-principal);
  height: 40px;
  padding: 0 16px;
  font-size: 18px;
  color: var(--cor-secundaria);
  margin-left: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.btnPesquisar:hover {
  background-color: lighten(var(--cor-principal), 10%);
}


.campo {
  padding: 0 16px;
  outline-color: var(--cor-principal);
  border: 1px solid #ccc;
  border-radius: 4px;
}


.campo:focus {
  border-color: var(--cor-principal);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


@media (max-width: 768px) {
  .form {
    grid-template-columns: 1fr;
  }

  .btnPesquisar {
    margin-left: 0;
  }
}
